.css_btn_class {
    font-size:16px;
    font-family:Arial Black;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #84bbf3;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
    background:-ms-linear-gradient( top, #bddbfa 5%, #80b5ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #bddbfa), color-stop(100%, #80b5ea) );
    background-color:#bddbfa;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 3px 50px #528ecc;
    -webkit-box-shadow: 0px 0px 0px 0px #dcecfb;
    -moz-box-shadow: 0px 0px 0px 0px #dcecfb;
    box-shadow: 0px 0px 0px 0px #dcecfb;
}.css_btn_class:hover {
    background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
    background:-ms-linear-gradient( top, #80b5ea 5%, #bddbfa 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #80b5ea), color-stop(100%, #bddbfa) );
    background-color:#80b5ea;
}.css_btn_class:active {
    position:relative;
    top:1px;
}